<li>
    <p>
        <%=post.content%>
            <small>
                <%=post.user.name%>
            </small>
    </p>
    <div class="post-comment">
        <%if(locals.user && locals.user.id==post.user.id){ %>
        <small>
            <a href="/posts/destroy/<%=post.id%>">X</a>
        </small>
        <%}%>
        <%if(locals.user){%>
            <form action="/comments/create" method="Post">
                <input type="text" name="content" placeholder="type here to add comment...">
                <input type="hidden" name="post" value="<%=post._id%>">
                <input type="submit" value="Add comment">
            </form>
        <%}%>
        <div class="post-comments-list" >
            <ul id="post-comments-<%=post.id%>">
                <%for(comment of post.comments){%>
                    <%- include('_comment') -%>
                    <%}%>
            </ul>

        </div>
    </div>
</li>